
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<div class="divNivel">
    <button class="btn btn-primary" id="btnNivel">
        <span class="glyphicon glyphicon-plus"><font style="font-family:Verdana; word-spacing:1px;">&nbsp;Novo Nivel</font></span>
    </button>
    <br />
    <br />
    <div>
        <table class="table table-condensed" id="tbNivel">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome Nivel</th>
                    <th>Peso</th>
                    <th>Ações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idNivel</td>
                        <td>@item.nomeNivel</td>
                        <td>@item.peso</td>
                        <td><button class="btn btn-primary" title="Atualizar" onclick="AlterarNivel(@item.idNivel)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button class="btn btn-primary" title="Excluir" onclick="RemoverNivel(@item.idNivel)"><span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tbNivel").DataTable();
    });

    $("#btnNivel").click(function () {
        $(".divNivel").load("../Nivel/Add");
    })

    function RemoverNivel(idNivel) {
        $.post("../Nivel/Delete", { idNivel: idNivel }, function (data) {
            if (data == "True") {
                alert("Nivel removido");
                $("#btnModal").click();
                location.reload();
            } else {
                alert("Erro ao remover");
            }
        });
    }

    function AlterarNivel(idNivel) {
        $(".divNivel").load("../Nivel/Edit?idNivel=" + idNivel);
    }
</script>